<html>
<body style = background-color:#40D8FE;> 
<style>
 h1{text-align: center;color:#f3f6f9;background-color:#3D4EF9; width:100%; height: 150px; }
 h2{text-align: center;color:#070220}
</style>
<h1>Portal Muzyczny</h1>
{% if index_list %}
    <ul>
    {% for index in index_list%}
        <h2><a href="/instrumenty/{{index.id}}">{{index}}</a></h2>
    {% endfor%}
    </ul>
{% else %}
    <p> No index </p>
{% endif %}
<center>
    <img src="https://snipstock.com/assets/cdn/png/2a8f37c8ab5e49f5d0a4f18cbdc1a9c1.png" width="1000" height="350">    
</center>
</body>
</html>
